<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_report_pos_main"
        name="Reporte Pos"
        parent="point_of_sale.menu_point_config_product"
        sequence="11"
        action="pos_config_report_pvt_form_action"
        groups="l10n_co_point_of_sale_report.group_conf_user_report_pos"/>


	<menuitem
			id="menu_dashboard_report_pos_main"
			name="Reporte"
			parent="base.menu_board_root"
			sequence="5"
			groups="l10n_co_point_of_sale_report.group_conf_user_report_pos"/>



    <menuitem id="submenu_dashboard_report_pos_main"
        name="Reporte Pos"
        parent="l10n_co_point_of_sale_report.menu_dashboard_report_pos_main"
        sequence="11"
        action="pos_config_report_pvt_form_action"
        groups="l10n_co_point_of_sale_report.group_conf_user_report_pos"/>



</odoo>
